<!-- <hello name="{{ name }}"></hello> -->
<h1>
  {{ appName }}
</h1>

<input type="text" [value]="clientName" />

<p [style.color]="myColor">This is color red using the myColor property</p>

<p [class]="appliedCSSClass">This is color green using the myClass property</p>

<p [class.blue]="notappliedCSSClass">
  This text applied the myClass property..
</p>

<!-- Two-way data binding -->
<input [(ngModel)]="myName" placeholder="Enter your name" />
<p>Hello, {{ myName }}</p>

<!-- Event Binding -->

<button (click)="onButtonClick1()">Kare - kare</button>
<button (click)="onButtonClick2()">Adobo</button>
<button (click)="onButtonClick3()">Caldereta</button>
<button (click)="onButtonClick4()">Sisig</button>
<button (click)="onButtonClick5()">Tinola</button>

<p *ngIf="message">{{ message }}</p>
<br />
<br />
<button (click)="showAlert()">Cancel Order</button>

<!-- ngIf Directive -->
<ng-template [ngIf]="showElement">
  <p>This element is displayed if showElement is true</p>
</ng-template>

<!-- ngFor Directive -->

<ul>
  <li *ngFor="let item of items" [ngStyle]="{ color: othercolor }">
    {{ item }}
  </li>
</ul>

<!-- ngSwitch Directive -->

<ng-container [ngSwitch]="selectedOption">
  <p *ngSwitchCase="1">You choose Kare - kare</p>
  <p *ngSwitchCase="2">You choose Adobo</p>
  <p *ngSwitchCase="3">You choose Caldereta</p>
  <p *ngSwitchCase="4">You choose Sisig</p>
  <p *ngSwitchCase="5">You choose Tinola</p>
  <p *ngSwitchDefault>No meal is selected</p>
</ng-container>

<!-- ngStyle Directive -->

<p [ngStyle]="{ color: color }">This text is dynamically colored</p>

<!-- ngClass Directive -->

<p [ngClass]="{ bold: isBold, italic: isItalic }">
  This text is dynamically styled
</p>

<!-- ngModel Directive -->

<input [(ngModel)]="name" />
<p>Hello {{ name }}!</p>
